.main{
    height: 938px;
    width: 100%;
    background: linear-gradient(180deg,#ff008c 0%,rgb(211,9,225)100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;
}

.box{
   
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 40px;
    
    
    
}